body{
    margin: 0;
    padding: 0;
    background-color: #cfd8dc ;
    color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #546e7a;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #cfd8dc;
    /* top: 50%; */
    animation: loader 2s infinite ease;
    z-index: 2;
  }
  .loadrButton{
    z-index: 8;
    /* color: white; */
    margin: 50%;
    cursor: pointer;
    position: absolute;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color:#cfd8dc;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
#container{
    background-color: #eceff1;
    width: 80%;
    height: 95%;
    padding: 0;
    position: fixed;
    top: 2%;
    left: 10%;
    display: none;
    /* display: flex; */
    border-radius: 4px;
    box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.2);
}

#loginForm{
    width: 430px;
    height: 290px;
    position: absolute;
    z-index: 1;
    left: 35%;
    top: 20%;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* box-shadow:  4px 8px 14px 5px rgba(0,0,0,0.08); */
}
#loginForm h3{
    font-size: 28px;
    font-family: monospace;
    font-weight: 200;
}
#loginForm button{
    width: 65%;
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px black solid;
    outline: none;
    transition: 0.3s;
}
#loginForm button:hover{
    font-size: 1.15rem;
    background-color: lightblue;
    cursor: pointer;
}
#contacts{
    background-color: #546e7a;
    width: 30%;
    height: 100%;
    padding: 0;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px;
    border-right-color: #6e7b80;
    border-right-style: solid;
}

#chat{
    /* background-color: #90a4ae; */
    width: 70%;
    height: 100%;
    padding: 0; 
    border-radius: 0px 4px 4px 0px;
}
#userData{
    background-color: #455a64;
    width: 100%;
    height: 10%;
    padding: 0;
    border-radius: 4px 0px 0px 0px;
    display: flex;
    align-items: center;
    

}
#userAvatar{
    width: 50px;
    height: 50px;
    margin-left: 7px;
    border-radius: 50%;
}
#userData h3{
    width: 65%;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #212121;
}
#chatIcon{
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
}
#userBtnDiv{
    margin-top: 20px;
    position: absolute;
    background-color: #cfd8dc;
    cursor: auto;
    border-radius: 5px;
}
#userBtn{
    width: 90%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: inherit;
    cursor: pointer;
}
#userBtn:hover{
    width: 95%;
    height: 70px;
    border: 2px #546e7a groove;
    transition: .3s ease;
}
#userBtn img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#userBtn h3{
    font-size: 1.1rem;
}
#dot-menu{
    width: 15px;
    height: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin-right: 5px;
}
#dot-menu:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px -1px rgba(255,255,255,1);
}
#menu{
    width: 115px;
    height: 55px;
    /* background-color: red; */
    position: relative;
    top: 52px;
    right: 35px;
    /* box-shadow: 4px 8px 14px 5px rgba(0,0,0,0.08); */
}
#logoutBtn{
    width: inherit;
    height: inherit;
    background-color: #cfd8dc;
    box-shadow: 4px 8px 14px 5px rgba(0,0,0,0.08);
    font-size: 1.3rem;
    border-radius: 4px;
    border: 2px black solid;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}
#search{
    /* background-color: #546e7a; */
    width: 100%;
    height: 7%;
    padding: 2% 4%;
    display: flex;
    align-items: center;
}
#searchBar{
    background-color: #455a64;
    width: 90%;
    height: 85%;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
    border: none;
    border-radius: 25px;
    transition: 0.2s;
    color: #cfd8dc;
    text-indent: 20px;
    outline: none;
}
#searchBar:focus{background-color: #263238;}
#chat-head{
    width: 100%;
    height: 584px;
    /* background-color: #546e7a; */
    /* border-radius: 0px 0px 0px 4px; */
    /* border-top: 1px;
    border-top-style: solid;
    border-top-color: #868686; */
    overflow-y: scroll;
    overflow-x: hidden;
}
#chat-head::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
#chat-head::-webkit-scrollbar-thumb{
    background-color: #455a64;
    border-radius: 20px;
}
#chat-head::-webkit-scrollbar-track{
    background-color: transparent;
}
#chatBtn{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    margin: 10px 0px;
    border: none;
    /* border-right: 1px;
    border-right-color: #6e7b80;
    border-right-style: solid; */
    border-bottom: 2px solid #6e7b80;
    cursor: pointer;
}
#chatBtn img{
    width: 45px;
    height: 45px;
    margin-left: 7px;
    border-radius: 50%;
}
#chatBtn h3 {
    text-indent: 25px;
    font-size: 1.2rem;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #212121;
}
/* #chatBtn:hover{
    border-bottom: 3px solid #6e7b80;
    transition: 0.3s;
} */
.line{
    width: 300px;
    height: 10px;
    background-color: red;
}
#sendUserInfo{
    /* width: 661px; */
    height: 10%;
    /* position: fixed; */
    background-color: #455a64;
    border-radius: 0px 4px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#sendUserInfo img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}
#sendUserInfo h3{
    margin-left: 25px;
    font-size: 1.2rem;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    color: #212121;
    display: none;
}
#dot-menu2 {
    width: 15px;
    height: 15px;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
    margin-right: 5px;
    cursor: pointer;
}
#dot-menu2:hover{
    box-shadow: 0px 0px 6px -1px rgba(255,255,255,1);
}
#showMessage{
    /* width: 661px; */
    height: 80%;
    background-color: #546e7a;
    
}
#sendMessage{
    /* width: 661px; */
    height: 10%;
    /* position: fixed; */
    background-color: #455a64;
    border-radius: 0px 0px 4px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#sendMsgInput{
    background-color: #546e7a;
    width: 75%;
    height: 65%;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
    border: none;
    border-radius: 25px !important;
    transition: 0.2s;
    color: white;
    text-indent: 26px;
    outline: none;
    order: 2;
}
#sendMsgInput:focus{background-color: #263238;}
::placeholder{color: white;opacity: 0.5;}
#emoji{
    order: 1;
    cursor: pointer;
    font-size: 25px;
    /* opacity: 0.5; */
    color: #263238;
}
#paper-clip{
    order: 3;
    cursor: pointer;
    font-size: 25px;
    color: #263238
    /* opacity: 0.5; */
}
.sendUserInfo> div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#goBack{
    /* display: none; */
    margin: 0 10px;
    font-size: 1.3rem;
}



@media screen and (max-width:550px){
    #container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    #container *{
        border-radius: initial;
    }
    #loginForm{
        width: 100%;
        left: 0;
    }
}